
<nav>
  <ul>
    <li> <a href="/home">Home</a> </li>
    <li> <a href="/about">About</a> </li>
    <li> <%= link_to 'Projects', events_path %> </li>
    <li> <%= link_to 'Cloud', generatives_path %> </li>
    <%# <li> <%= link_to 'Web & Code', webs_path %>
    <%# <li> <%= link_to 'References', references_path %>
    <li> <%= link_to 'Contact', new_contact_path %> </li>
    <%# <li> <a href="/contact">Contact me</a> </li> %>
    <li class="slide"></li>
  </ul>
</nav>


<script>
      $(function(){
    let current = window.location.pathname;
    $('li a').each(function(){
        let $this = $(this);
        if($this.attr('href').indexOf(current) !== -1){
            $this.parent().addClass('active');
        }
    })
})
</script>
